<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ssmis</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">jt1996515</property>
        <property name="c3p0.min_size">1</property>
        <property name="c3p0.max_size">30</property>
        <property name="c3p0.time_out">1800</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="c3p0.max_statement">50</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="team.jiangtao.entity.Appeal"/>
        <mapping class="team.jiangtao.entity.Comment"/>
        <mapping class="team.jiangtao.entity.Course"/>
        <mapping class="team.jiangtao.entity.CourseSchedule"/>
        <mapping class="team.jiangtao.entity.CoursesTable"/>
        <mapping class="team.jiangtao.entity.Department"/>
        <mapping class="team.jiangtao.entity.Exam"/>
        <mapping class="team.jiangtao.entity.Student"/>
        <mapping class="team.jiangtao.entity.StudentSchedule"/>
        <mapping class="team.jiangtao.entity.Teacher"/>


    </session-factory>
</hibernate-configuration>